@CHARSET "UTF-8";
*{
margin: 0px;
}

#inner {
width: 100%;
margin: 0px;
overflow: hidden;
}

#d1{
height: 728px;

width: 1220px;
margin: 0 auto;


}

#d1_1{

height: 728px;
background-color: green;
float: left;
width: 973px;
position: relative;
}



#d1_2{

width: 230px;
overflow: hidden;
float: right;
height: 100%;


}

#d1_2_1{
width: 100%;
height: 230px;
margin-bottom: 20px;
position: relative;
}

#d1_2_2{
width: 100%;
height: 230px;
margin-bottom: 20px;
position: relative;
}

#d1_2_3{
width: 100%;
height: 230px;
margin-bottom: 20px;
position: relative;
}

#d2{

width:1220px;
margin-top: 20px;
 overflow: hidden;
margin: 0 auto;

}

#d2_1{

width: 478px;
height: 230px;
float: left;
background-color: blue;
margin-top: 20px;
position: relative;
}

#d2_2{

width: 478px;
height: 230px;
float: left;
background-color: blue;
margin-top: 20px;
margin-left: 17px;
position: relative;
}

#d2_3{

width: 230px;
height: 230px;
float: left;
background-color: blue;
margin-top: 20px;
margin-left: 17px;
position: relative;
}

#d3{

width:1220px;
margin-top: 20px;
overflow: hidden;
margin: 0 auto;
height: 230px;

}

#d3_1{

position:relative;
width: 430px;
height: 230px;
float: left;
background-color: blue;
margin-top: 20px;
background-image: url("../image/jy/bg_mycat.jpg") ;
 background-size: 100% 100%;
background-repeat: no-repeat;

}

#d3_1_d{
	position: absolute;
	top: 32px;
    left: 41px;
    width: 160px;
    height: 160px;
    
    background-image: url("../image/jy/test1.jpg");
	border-radius: 100px;
	cursor: pointer;
}

#d3_2{

   
white-space: nowrap;
float: right;
position: relative;
width: 785px;
height: 230px;
}

.visual{
width: 100%;
height: 100%;
position: absolute;

} 

.title{
position: absolute;
text-align: right;
font: 14px;
padding-right: 15px;
width: 215px;
z-index: 1;
color: white;
top: 13px;
left: 0;
}


.title2{
position: absolute;
text-align: right;
font: 14px;
padding-right: 15px;
width: 463px;
z-index: 1;
color: white;
top: 13px;
}

.info{

position: absolute;
width: 100%;
z-index: 1;
text-align: center;
height: 42px;
top: 50%;
margin-top: -22px;
white-space: nowrap;

}


#v2{
display: none;

}





.slider2 {
	
	width: 220px;
	height: 230px;
	
	
}


#d3_0{
	position: relative;
    float: right;
    width: 770px;
     height: 230px;
    margin-top: 20px;
	overflow: hidden;
	
	
}

li{
list-style: none;
}

.slide{
	width: 220px;
	height: 230px;
	

}