@CHARSET "UTF-8";
	@font-face{
		font-family: 'font2'; /* 폰트 패밀리 이름 주기*/
		src: url('/semiProject/css/MERKIN__.ttf'); /*폰트 파일 주소*/
	}
	@font-face{
		font-family: 'font'; /* 폰트 패밀리 이름 주기*/
		src: url('../css/BebasNeue.otf'); /*폰트 파일 주소*/
	}
	#modal_012m{
		width: 1220px;
		height: 153px;
		margin: 0 auto;
	}
	#line_012m{
		width: 1220px;
		height: 3px;
		background-color: black;
	}
	#modal_022m{
		width: 1050px;
		height: 150px;
		margin: 0 auto;
	}
	#modal_032m{
		width: 1050px;
		height: 85px;
		margin: 0 auto;
	}
	#title2m{
		width: 195px;
		height: 45px;
		float: left;
		margin-left: 427.5px;
		margin-top: 35px;
		font-family:'font2' !important;
		font-size: 40px;
	}
	#line_022m{
		border-color: 0.5px black;
	}
	#modal_042m{
		width: 900px;
		height: 43px;
		margin: 0 auto;
	}
	.btn_hr2m{
		width: 240px;
		height: 43px;
		background-size: 240px 43px;
		font-family:'font' !important;/*위에 설정한 폰트 이름으로 적어준다.*/
		font-size: 40px;
		text-align: center;
	}
	#_01m{
		float: left;
		margin-left: 165px;
		border: 1px solid gray;
		cursor: pointer; 
	}
	#_02m{
		float: left;
		margin-left: 90px;
		border: 1px solid gray;
		cursor: pointer; 
	}