@CHARSET "UTF-8";
	@font-face{
		font-family: 'font2'; /* 폰트 패밀리 이름 주기*/
		src: url('/semiProject/css/MERKIN__.ttf'); /*폰트 파일 주소*/
	}
	@font-face{
		font-family: 'font'; /* 폰트 패밀리 이름 주기*/
		src: url('/semiProject/css/BebasNeue.otf'); /*폰트 파일 주소*/
	}
	#modal_01{
		width: 1220px;
		height: 153px;
		margin: 0 auto;
	}
	#line_01{
		width: 1220px;
		height: 3px;
		background-color: black;
	}
	#modal_02{
		width: 1050px;
		height: 150px;
		margin: 0 auto;
		
	}
	#modal_03{
		width: 1050px;
		height: 85px;
		margin: 0 auto;
		text-align: center;
	}
	#title1{
		width: 100%;
		height: 45px;
		float: left;
		text-align:center;
		font-family:'font2' !important;
		font-size: 40px;
		color:gray;
		margin-top: 8px;
		background-color: white;
	} 
	#close{
		width: 25px;
		height: 25px;
		float: right;
		margin-top: 32px;
	}
	#line_02{
		border-color: 0.5px black;
	}
	#modal_04{
		width: 900px;
		height: 43px;
		margin: 5px auto;
	}
	.btn_hr{
		width: 240px;
		height: 43px;
		background-size: 240px 43px;
		font-family:'font' !important;/*위에 설정한 폰트 이름으로 적어준다.*/
		font-size: 40px;
		text-align: center;
		line-height: 43px;
	}
	#_01{
		float: left;
		border: 1px solid gray; 
	}
	#_02{
		float: left;
		margin-left: 90px;
		border: 1px solid gray; 
	}
	#_03{
		float: right;
		border: 1px solid gray; 
	}