<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <resource-ref>
    <description>Connection Pool</description>
    <res-ref-name>jdbc/myOracle</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>res</servlet-name>
    <servlet-class>com.semi.control.ResControl</servlet-class>
    <init-param>
      <param-name>Resconfig</param-name>
      <param-value>res.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>res</servlet-name>
    <url-pattern>*.res</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>nt</servlet-name>
    <servlet-class>com.semi.control.NoticeControl</servlet-class>
    <init-param>
      <param-name>Ntconfig</param-name>
      <param-value>notice.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>nt</servlet-name>
    <url-pattern>*.nt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fr</servlet-name>
    <servlet-class>com.semi.control.FreeControl</servlet-class>
    <init-param>
      <param-name>Frconfig</param-name>
      <param-value>free.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>fr</servlet-name>
    <url-pattern>*.fr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gh</servlet-name>
    <servlet-class>com.semi.control.GalHoControl</servlet-class>
    <init-param>
      <param-name>GhConfig</param-name>
      <param-value>galleryHo.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>gh</servlet-name>
    <url-pattern>*.gh</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ghre</servlet-name>
    <servlet-class>com.semi.control.GalHoReplyControl</servlet-class>
    <init-param>
      <param-name>GhreConfig</param-name>
      <param-value>galleryHoReply.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ghre</servlet-name>
    <url-pattern>*.ghre</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gc</servlet-name>
    <servlet-class>com.semi.control.GalCatControl</servlet-class>
    <init-param>
      <param-name>GcConfig</param-name>
      <param-value>galleryCat.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>gc</servlet-name>
    <url-pattern>*.gc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gcre</servlet-name>
    <servlet-class>com.semi.control.GalCatReplyControl</servlet-class>
    <init-param>
      <param-name>GcreConfig</param-name>
      <param-value>galleryCatReply.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>gcre</servlet-name>
    <url-pattern>*.gcre</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>me</servlet-name>
  	<servlet-class>com.semi.control.MemControl</servlet-class>
  	<init-param>
  		<param-name>memconfig</param-name>
  		<param-value>mem.properties</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>me</servlet-name>
  	<url-pattern>*.me</url-pattern>
  </servlet-mapping>
</web-app>